@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  font-family: 'BrahmaRegular';
  src: local('BrahmaRegular'),
    url('../../fonts/Brahma-Regular.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'BrahmaBold';
  src: local('BrahmaBold'),
    url('../../fonts/Brahma-Bold.ttf') format('truetype');
  font-weight: bold;
}
.wrap-landing {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  .first-element {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/landing/Fichier\ 1_edited_edited_edited.png');
    background-repeat: no-repeat;
    background-size: cover;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;

      .nav-feat {
        color: #fff;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s;
        font-weight: 700;

        &:hover {
          color: #3be6e6;
        }
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      bottom: 20px;
      font-family: 'BrahmaRegular';
      font-weight: 700;
      .title {
        font-family: 'BrahmaBold';

        font-size: 102px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        line-height: 1;
        margin-top: 30px;
        letter-spacing: 5px;
      }

      .description {
        font-size: 28px;
        margin-top: 10px;
        color: #fff;
      }

      .detail {
        font-size: 22px;
        color: #fff;
        text-align: center;
        margin-top: 10px;
      }

      .focus {
        color: #3be6e6;
        font-weight: 700;
      }

      .wrap-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .button-try {
          background-color: rgba(255, 255, 255, 0);
          padding: 15px 70px;
          border: 1px solid #fff;
          border-radius: 100px;
          color: rgba(255, 255, 255);
          font-size: 20px;
          font-weight: 700;
          transition: 0.3s;
          margin-bottom: 100px;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: #111;
          }
        }
      }
    }
  }

  .benefit-element {
    position: relative;
    width: 100vw;
    height: 110vh;
    background-image: url('../../assets/landing/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    .benefit-tag {
      margin-top: 50px;
      display: flex;
      padding: 12px 24px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      border-radius: 1000px;
      background-color: #fff;
      color: #121826;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }

    .benefit-title {
      font-family: 'BrahmaRegular';
      font-weight: 700;
      margin: 50px;
      font-size: 50px;
      line-height: 65px;
      letter-spacing: 3px;
      text-align: center;
      position: relative;
    }

    .content-title {
      font-family: 'BrahmaBold';

      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    .benefit-content {
    }

    .content-text {
      font-family: 'BrahmaRegular';

      font-size: 24px;
      margin-top: 20px;
      font-weight: 700;

      letter-spacing: 1.5px;
    }

    .row-content {
      margin-bottom: 40px;
      width: 1300px;
      .col-content-benefit {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
        .content-content {
          margin-left: 30px;
        }
      }
    }

    .gradient-underline {
      position: absolute;
      width: 200px;
      bottom: 40px;
      right: 110px;
      display: inline-block;
      margin-right: -3rem;
      margin-bottom: -6rem;
      margin-left: -3rem;
      padding-right: 3rem;
      padding-bottom: 6rem;
      padding-left: 3rem;
      background-image: url(https://assets-global.website-files.com/60e5f2de011b86acebc30db7/630a52793591b5ddf26ea695_Jasper%20Art%20Underline.svg);
      background-position: 50% 50%;
      background-size: 80%;
      background-repeat: no-repeat;
    }

    .icon img {
      width: 120px;
    }
  }
  .second-element {
    img {
      width: 100%;
    }

    // position: relative;
    // width: 100vw;
    // height: 100vh;
    // background-image: url('../../assets/landing/RS_250822_VFinal_1920x1080.png');
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  .third-element {
    img {
      width: 100%;
    }
    // position: relative;
    // width: 100vw;
    // height: 103vh;
    // overflow-y: hidden;
    // background-image: url('../../assets/landing/1RS_250822_VFinal_1920x1080.png');
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  .fourth-element {
    img {
      width: 100%;
    }
    // position: relative;
    // width: 100vw;
    // height: 112vh;
    // overflow-y: hidden;
    // background-image: url('../../assets/landing/2RS_250822_VFinal_1920x1080.png');
    // background-size: cover;
    // background-repeat: no-repeat;
  }

  .fifth-element {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    overflow-y: hidden;
    background-image: url('../../assets/landing/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .row-benefit-content {
      width: 1300px;
    }
    .ant-row {
      .ant-card-body {
        text-align: center;
      }
    }

    .gradient-underline {
      position: absolute;
      width: 200px;
      bottom: 40px;
      right: 110px;
      display: inline-block;
      margin-right: -3rem;
      margin-bottom: -6rem;
      margin-left: -3rem;
      padding-right: 3rem;
      padding-bottom: 6rem;
      padding-left: 3rem;
      background-image: url(https://assets-global.website-files.com/60e5f2de011b86acebc30db7/630a52793591b5ddf26ea695_Jasper%20Art%20Underline.svg);
      background-position: 50% 50%;
      background-size: 80%;
      background-repeat: no-repeat;
    }

    .title-create {
      font-size: 70px;
      letter-spacing: 4px;
      line-height: 1.1;
      margin-bottom: 50px;
      position: relative;
    }

    .content-create {
      display: flex;
      justify-content: space-between;

      .text-content {
        font-size: 20px;
      }
    }
  }

  .sixth-element {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    background-color: red;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/landing/fuji-mountain-with-milky-way-night.jpg');
    &:before {
      background-color: rgba(0, 0, 0, 0.67);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .line {
      margin-top: 30px;
      border-top: 1px solid #fff;
    }

    .text {
      margin-top: 30px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }

    .text-all {
      margin-top: 80px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }

    .text-copyright {
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }

    .focus {
      color: #3be6e6;
      font-weight: 700;
    }
  }
}
.Marquee {
  background-color: #020209;
}
.MarqueeContent {
  display: flex;
}
.image-marquee {
  img {
    height: 80px;
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .first-element {
    background-position: top center;
    background-size: auto !important;
    .content {
      bottom: 250px !important;

      .title {
        font-size: 30px !important;
      }
      .description {
        font-size: 16px !important;
        text-align: center;
      }
      .detail {
        font-size: 12px !important;
      }
      .button-try {
        margin-bottom: 10px !important;
      }
    }

    .header {
      img {
        width: 140px;
      }
    }
  }
  .benefit-element {
    height: max-content !important;
    .row-content {
      width: 100% !important;
    }
    .benefit-title {
      font-size: 30px !important;
      line-height: 40px !important;
      margin: 30px !important;
    }
    .col-content-benefit {
      padding-left: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .icon {
        display: inline-block;
      }
    }
    .row-content {
      margin: 0 !important;
    }
    .icon img {
      width: 40px !important;
      max-width: fit-content !important;
    }
    .content-title {
      font-size: 16px !important;
    }

    .content-text {
      font-size: 12px !important;
    }
  }

  .fifth-element {
    height: max-content !important;
    .row-benefit-content {
      width: 100% !important;
      padding-top: 40px;
    }
    .title-create {
      font-size: 30px !important;
      text-align: center;
    }
    .content-create {
      flex-direction: column;
    }
    .text-content {
      margin-bottom: 20px;
      text-align: center;
    }
    .button-direct {
      display: flex;
      justify-content: center;
    }
  }

  .image-marquee {
    img {
      height: 40px;
      margin-right: 30px;
    }
  }

  .fourth-element {
    display: flex;
    justify-content: center;
    img {
      width: 150% !important;
    }
  }

  .sixth-element {
    height: 100vh !important;
    img {
      width: 140px;
    }
    .content-footer-landing {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .text-all {
      margin-top: 30px !important;
    }
    .footer-component {
      .ant-menu-horizontal {
        li {
          display: block !important;
          color: #fff !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .nav-feat {
    display: none;
  }
}
